.photo-grid {
  max-width: 1184px;
  margin: 0 auto;
  padding-bottom: 92px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  outline: 1px solid red;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    max-width: 928px;
    padding-bottom: 92px;
    grid-gap: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    max-width: 720px;
    padding-bottom: 88px;
    grid-gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    max-width: 720px;
    padding: 0 16px 64px 16px;
    grid-gap: 12px;
  }
}

@media screen and (max-width: 319px) {
  .photo-grid {
    padding: 0 8px 64px 8px;
    grid-gap: 12px;
  }
}

@media screen and (max-width: 299px) {
  .photo-grid {
    padding: 0 0 64px 0;
    grid-gap: 6px;
  }
}
